@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="color:red;">Current Date and Time: @ViewBag.CurrentTime.ToString()</p>
    <p style="color:red;">Time Zone: @ViewBag.TimeZone</p>
</div>
